<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lost & Found Log - <%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <!------ Include the above in your HEAD tag ---------->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <%- include('partials/nav') %>
    <% switch(title){
      case 'Home':%>
      <%- include('contents/home')%>
      <% break;
      case 'Add New Log':%>
      <%- include('contents/add_form'); %>
      <% break;
      case 'Registration':%>
      <%- include('contents/reg_form'); %>
      <% break;
      case 'UPDATE LOG':%>
      <%- include('contents/update'); %>
      <% break;
      case 'Login':%>
      <%- include('contents/login_form'); %>
      <% break;
    }
    %>
  </body>
</html>
