<div class="container">
  <h1 class="text-center text-muted">LOG UPDATE</h1>
  <form class="well form-horizontal" action="/update/<%= log._id %>" method="POST">
    <fieldset>
      <div class="form-group">
        <label class="col-md-4 control-label" class="form-label" for="CreatedDate">Date</label>  
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="date" class="form-control" id="CreatedDate" name="CreatedDate" placeholder="DD/MM/YYYY" value="<%= log.CreatedDate.toISOString().split('T')[0] %>" required>
            </div>
        </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="LogNo">Log Number</label>  
      <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="	glyphicon glyphicon-asterisk"></i></span>
              <input id="LogNo" name="LogNo" placeholder="Log Number" class="form-control"  type="text" value="<%= log.LogNo %>" required>
          </div>
      </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="ItemDesc">Item Description</label>
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
              <textarea class="form-control" id="ItemDesc" name="ItemDesc" placeholder="Item Description" required><%= log.ItemDesc %></textarea>
     </div>
     </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" class="form-label" for="TurnedInBy">Turned In By</label>  
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" id="TurnedInBy" name="TurnedInBy" placeholder="Turned In By" value="<%= log.TurnedInBy %>" required>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" class="form-label" for="ClaimedBy">Claimed By</label>  
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" id="ClaimedBy" name="ClaimedBy" placeholder="Claimed By" value="<%= log.ClaimedBy %>" required>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" class="form-label" for="Phone">Phone Number</label>  
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Phone Number" value="<%= log.Phone %>" required>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" class="form-label" for="ReleasedBy">Released By</label>  
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" id="ReleasedBy" name="ReleasedBy" placeholder="Released By" value="<%= log.ReleasedBy %>" required>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" class="form-label" for="DateReleased">Released Date</label>  
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="date" class="form-control" id="DateReleased" name="DateReleased" placeholder="DD/MM/YYYY" value="<%= log.DateReleased ? log.DateReleased.toISOString().split('T')[0] : '' %>" required>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-4">
      <button type="submit" id="updateButton" class="btn btn-warning" >Update <span class="glyphicon glyphicon-send"></span></button>
      <button type="button" id="removeButton" class="btn btn-danger" onclick="deleteLog('<%= log._id %>')">Remove <span class="glyphicon glyphicon-remove"></span></button>
      <button type="button" id="cancelButton" class="btn btn-default" onclick="cancelUpdate()">Cancel <span class="glyphicon glyphicon-remove"></span></button>  
    </div>
  </div>
  </fieldset>
  </form>

<!-- Add a hidden form for delete action -->
<form id="deleteForm" action="/delete/<%= log._id %>" method="POST"></form>

<!-- Footer Section -->

<!--Javascript for cancel and update the log-->
<script>
  function cancelUpdate() {
    //Redirect the user back to the log page
    window.location.href = "/";
  }

  function deleteLog(logID) {
    console.log("Delete button clicked");
    if (confirm("Confirm to delete the log?")) {
      const deleteForm = document.getElementById("deleteForm");
deleteForm.submit();
      }
    }           
</script>
