<div class="container">
  <h1>LOG UPDATE</h1>
  <form action="/update/<%= log._id %>" method="POST">
    <div class="mb-3">
      <label for="CreatedDate" class="form-label">Date</label>
      <input
        type="date"
        class="form-control"
        id="CreatedDate"
        name="CreatedDate"
        value="<%= log.CreatedDate.toISOString().split('T')[0] %>"
      />
    </div>
    <div class="mb-3">
      <label for="LogNo" class="form-label">Log Number</label>
      <input
        type="text"
        class="form-control"
        id="LogNo"
        name="LogNo"
        value="<%= log.LogNo %>"
      />
    </div>
    <div class="mb-3">
      <label for="ItemDesc" class="form-label">Item Description:</label>
      <input
        type="text"
        class="form-control"
        id="ItemDesc"
        name="ItemDesc"
        value="<%= log.ItemDesc %>"
      />
    </div>
    <div class="mb-3">
      <label for="TurnedInBy" class="form-label">Turned in By</label>
      <input
        type="text"
        class="form-control"
        id="TurnedInBy"
        name="TurnedInBy"
        value="<%= log.TurnedInBy %>"
      />
    </div>
    <div class="mb-3">
      <label for="ClaimedBy" class="form-label">Claimed By</label>
      <input
        type="text"
        class="form-control"
        id="ClaimedBy"
        name="ClaimedBy"
        value="<%= log.ClaimedBy %>"
      />
    </div>
    <div class="mb-3">
      <label for="Phone" class="form-label">Phone</label>
      <input
        type="tel"
        class="form-control"
        id="Phone"
        name="Phone"
        value="<%= log.Phone %>"
      />
    </div>
    <div class="mb-3">
      <label for="ReleasedBy" class="form-label">Released By</label>
      <input
        type="text"
        class="form-control"
        id="ReleasedBy"
        name="ReleasedBy"
        value="<%= log.ReleasedBy %>"
      />
    </div>
    <div class="mb-3">
      <label for="DateReleased" class="form-label">Released Date</label>
      <input
        type="date"
        class="form-control"
        id="DateReleased"
        name="DateReleased"
        value="<%= log.DateReleased ? log.DateReleased.toISOString().split('T')[0] : '' %>"
      />
    </div>
    <div class="button-group">
      <button id="updateButton" type="submit" class="btn btn-secondary">UPDATE</button>
      <button id="cancelButton" type="button" class="btn btn-secondary" onclick="cancelUpdate()">
        CANCEL
      </button>
      <button
        id="removeButton2"
        type="button"
        class="btn btn-secondary"
        onclick="deleteLog('<%= log._id %>')"
      >
        REMOVE
      </button>
    </div>
  </form>

<!-- Add a hidden form for delete action -->
<form id="deleteForm" action="/delete/<%= log._id %>" method="POST"></form>

<!-- Footer Section -->

<!--Javascript for cancel and update the log-->
<script>
  function cancelUpdate() {
    //Redirect the user back to the log page
    window.location.href = "/";
  }

  function deleteLog(logID) {
    console.log("Delete button clicked");
    if (confirm("Confirm to delete the log?")) {
      const deleteForm = document.getElementById("deleteForm");
deleteForm.submit();
      }
    }           
</script>
